<%# Issue3余計な<div>タグを2つ削除,9行目class=calendarを class='calendar'に修正,16..20行目tabを追加して可読性をあげた  %>
  <%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>
    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :予定を入力, class: 'lavel' %>
    <%= f.text_field :plan, class: 'text-input' %>
    <%= f.submit '保存' %>
  <% end %>
  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%# Issue5 14行目を修正 %> <%# Issue6 14行目曜日の追加 %>
          <%= day[:month] %>/<%= day[:date] %>/<%= day[:wdays] %>
        </div>
        <ul class='content'>
          <% if day[:plans].length != 0 %>
            <% day[:plans].each do |plan| %>
              <li class='plan-list'>・<%= plan %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>